<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.withy.mapper.OttkindMapper">

	<select id="selectTicketNameList" resultType="String">
		select distinct ott_name from ottkind order by ott_name asc
	</select>

	<select id="selectOttNoAndNameList" resultType="OttkindDTO">
		select distinct ott_no, ott_name from ottkind order by ott_no
	</select>
	
	<insert id="insertOttkind">
		<selectKey resultType="int" keyProperty="ottNo" order="BEFORE">
			select ottkind_seq.nextval from dual
		</selectKey>
		insert into ottkind values(#{ottNo}, #{ottName}, #{ottImage}, #{ottCd})
	</insert>

</mapper>