<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="xyz.withy.mapper.ReviewMapper">
<insert id="insertProgram">
		<selectKey resultType="int" keyProperty="reviewNo" order="BEFORE">
			select review_no_seq.nextval from review
		</selectKey>
		insert into review values(#{reviewNo}, #{reviewStar}, #{reviewComment},
			#{reviewUserNo}, sysdate,#{reviewProgramNo}
	</insert>
	
	<update id="updateReview">
		update review set review_star=#{reviewStar}, review_comment=#{reviewComment}
			,review_user_no=#{reviewUserNo}, sysdate ,review_program_no=#{reviewProgramNo}
				 where review_no=#{reviewNo}
	</update>
	
	<delete id="deleteReview">
		delete from review where review_no=#{reviewNo}
	</delete>

	<select id="selectReview" resultType="ReviewDTO">
		select review_star,review_comment, review_user_no, review_date, review_program_no
		  	from review where review_no=#{reviewNo}
	</select>

	<select id="selectReviewCount" resultType="int">
		select count(*) from review
	</select>
	
	<select id="selectReviewList" resultType="ReviewDTO">
		select * from (select rownum rn, review.* from (select review_star,review_comment, review_user_no
			,review_date ,review_program_no from review order by review_no desc) review) 
				where rn between #{startRow} and #{endRow}
	</select>
	
	<select id="selectReveiwJoinList" resultType="ReviewDTO">
		select review_no, review_star,review_comment, review_user_no
			,review_date ,review_program_no from review join usertable on review_user_no = user_no 
				join program on review_program_no=program_no order by review_date desc
	</select> 
	
</mapper>
