@charset "UTF-8";


.choiceTitle{
   background-color: #2180f5;
   border-radius: 50%;
   padding: 5px;
   color: white;
   width: 45%;
   margin: 0 auto;
   margin-top: 3%;
   font-size: 13px;
   font-weight: bold;
}
.click {
  background-color: orchid;
   opacity: 1;
}

  .button-container {
     text-align: center;
     
  }
  .button {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 20%;
    border-radius: 8%;
    margin: 20px;
  }
  .button-a {
    background-color: #d4e3f5;
       opacity: 0.5;
    
  }
  .button-b {
    background-color: #d4e3f5;
       opacity: 0.5;
    
  }
  .button.active {
    background-color: #a1c9fa;
       opacity: 1;
  }

#Area{
	margin: 0 auto;
	width: 50%;
	height: 100vh;
	background: rgb(119,184,254);
	background: linear-gradient(0deg, rgba(119,184,254,1) 5%, rgba(140,193,250,1) 14%,
	rgba(163,206,251,1) 23%, rgba(205,230,253,1) 49%, rgba(249,254,255,1) 85%);
}


